# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Application - SENSÍVEL
application.properties

# Logs
*.log
logs/
app.log

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache
HELP.md

# OS
.DS_Store
Thumbs.db

# Test
src/test/